html,
body {
  height: 100%;
  margin: 0;
}

.navbar {
  border-bottom: 5px solid #17a2b8;
}

#nametop {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mainpagecontent {
  background-image: url("images/background.jpg");
  background-color: #cccccc;
  min-height: 100%;
  margin-bottom: -90px;
}

.mainpagecontent::after {
  content: "";
  display: block;
}

#aboutmepic {
  width: 210px;
}

#portfoliopic1,
#portfoliopic2,
#portfoliopic3,
#portfoliopic4,
#portfoliopic5 {
  width: 100%;
}

footer,
.mainpagecontent::after {
  height: 90px;
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  line-height: 70px;
  background-color: #343a40;
  border-top: 5px solid #17a2b8;
}

/* Styling social media icons */
.fa {
  padding: 20px;
  font-size: 40px;
  width: 50px;
  text-decoration: none;
  color: #17a2b8;
}

/* Adding hover effect to social media icons */
.fa:hover {
  opacity: 0.7;
}

.namefooter {
  font-size: 14px;
}
